.calendar-container {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.calendar-nav-button {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* .calendar-nav-button:hover {
  background-color: #e0e0e0;
} */

.calendar-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #ddd;
  border: 1px solid #ccc;
}

.calendar-day-header {
  background-color: #f6f7f9;  
  padding: 8px 8px;
  font-weight: 500;
  font-size: 15px;
  color: #6f7c8e;
}

.calendar-date-cell {
  background-color: white;
  padding: 8px;
  text-align: center;
  position: relative;
  /* height: 100px; */
  cursor: pointer;
}
.calendar-date-number {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #14181f;
}

/* .calendar-date-cell:hover {
  background-color: #f0f7ff;
} */

.current-date {
  background-color: #f0f7ff; /* Example background color for highlighting */
  /* border-radius: 50%; */
}
.event-marker {
  width: 70%;
  height: 16px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 8px;
}

.event-swap {
  background-color: #4cd964;
}

.event-shift {
  background-color: red;
}

.selected-date {
  background-color: #dce0e5; /* Example background color for highlighting */
  box-shadow: 0px 0px 0px 3px #273a8b inset;
}
/* Add more styles for events and other content as needed */
